<div id="about-info-container">
    <p>
        Hello,<br /><br />  My name is Diyan Atanasov. I am 26 years old and I am currently living in Sofia, Bulgaria.
        I am a graduate of Thracian University, Bulgaria. I graduated as a veterinarian.
        Due to various reasons I had made the decision to join <a href="http://academy.telerik.com/">Telerik Software Academy</a>
        in October 2012 and to start a career as a Software Developer. After a year of very intensive education I have successfully
        graduated and earned <a href="https://telerikacademy.com/Certificates/View/339/ad199c2c">certificate</a> of graduation.
    </p>

    <p>
        In the Academy I have acquired theoretical knowledge - <strong>OOP</strong>, <strong>Data Structures</strong>, <strong>Algorithms</strong>, <strong>Quality Code</strong>,<strong>Unit Testing</strong>, <strong>Design Patterns</strong>, <strong>Databases</strong> and
        practical skills – <strong>C#</strong>, <strong>ASP.NET</strong> [ <em>MVC, Web Forms, Web Api</em> ], <strong>JavaScript</strong> [ <em>native, JQuery, JUnit, Kendo UI, AngularJS, RequireJS</em> ], <strong>Relational Databases</strong> [ <em>MS SQL Server</em>, <em>MySQL</em> ].
    </p>

    <p>
        I have created this Web Application in order to demonstrate some of the things I learned in Telerik Academy.
    </p>

    <p>
        The Site is created via <strong>ASP.NET MVC</strong> and native <strong>JavaScript</strong>.<br />
        The Performance is tested on Chrome, Firefox, Opera, IE 10 to 7 [ <em>on IE7 they are still some styling issues</em> ].
        In order to show my understanding of the matter I have minimized the usage of external libraries.
        The Site is hosted on <a href="https://appharbor.com">AppHarbor</a>.
        I am using <strong>MS SQL Server</strong> with code first <em>Entity Framework</em> approach and extended <em>Microsoft Identity System</em>.
        On client side, I have decided not to use JQuery, so everything is made via native JavaScript.<br />
        I hope you enjoy it!
    </p>

    <p>
        <strong>Here is the <a href="https://github.com/DiyanAtanasov/QuizSystem">Source Code</a></strong>.
    </p>
</div>
