@model CategoryAdminModel
<div id="c-0">
    <div class="form-tab">
        @Html.ValidationField(x => x.Name, "input", new { type = "text" })
        <input id="create-btn" type="button" value="Create" />
    </div>
</div>
