<div id="general-error-container">
    <div class="error-image e404"></div>
    <div class="error-message e404">
        <h2>Sorry, but this page doesn`t exist ... </h2>
        <a href="~/Home/Index" class="link">Go to Home Page</a>
    </div>
</div>