@model System.Web.Mvc.HandleErrorInfo

<div id="general-error-container">
    <div class="error-image e500"></div>
    <div class="error-message e500">
        <h2>Something went wrong ...</h2>
        <h2>Server Error has occured.</h2>
        <a href="~/Home/Index" class="link">Go to home page</a>
    </div>
</div>